<section data-ng-controller="SensorUpdatesController" data-ng-init="find()">
	
	<div data-ng-show="!sensorUpdates || sensorUpdates.length" class="container">
	  <h2 class="text-center">Sensor Updates</h2>
	  <div class="table-responsive">
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th>ID</th>
		        <th>Sensor ID</th>
		        <th>Data</th>
		        <th>Sense Time</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr data-ng-repeat="sensorUpdate in sensorUpdates">
		        <td>{{sensorUpdate.id}}</td>
		        <td>{{sensorUpdate.SensorId}}</td>
		        <td>{{sensorUpdate.data}}</a></td>
		        <td>{{sensorUpdate.updatedAt  | date:'medium'}}</td>
		      </tr>
		    </tbody>
		  </table>
	  </div>
	</div>
	<h1 data-ng-hide="!sensorUpdates || sensorUpdates.length">No Sensor Updates. <br></h1>
</section>
